/AnimationManager.class
/BackgroundManager.class
/CollectiblesManager.class
/EntityManager.class
/FlaskManager.class
/GameManager.class
/LevelManager.class
/ObstacleManager.class
/PlayerManager.class
/FloorManager.class
/HighScoresManager$1.class
/HighScoresManager.class
